<div class="row">
  <div class="col-md-3 col-sm-6" *ngFor="let gif of resultadosGifs">
    <div class="card mb-2 text-center bg-dark">
      <img class="card-img-top" [src]="gif.images.original?.['url']" alt="Gif Image">
    </div>
  </div>
</div>





<!-- <div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="card mb-2 text-center bg-dark" *ngFor="let result of listaGifs" >


      <div class="card-body">
        <p class="card-text text-white">A ve!</p>
      </div>
    </div>
  </div>
</div> -->
